.route-list {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    color: red;
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    background-color: #f4f3f3c9;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    font-family: Courier New;
}

.route-cache {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    color: red;
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    background-color: #f4f3f3c9;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    font-family: Courier New;
}
.route-clear {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    color: red;
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    background-color: #f4f3f3c9;
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    font-family: Courier New;
}





